.settings/
.myeclipse/
.gradle/
*/.settings
*/.classpath
*/.project
*/logs
.classpath
.project
.idea/
.svn/
.metadata/
*.iml
psh-springcloud-consumer/target/
psh-springcloud-consumer-ribbon/target/
psh-springcloud-crawler/target/
psh-springcloud-eureka-server/target/
psh-springcloud-provider/target/
target/
logs/